
.classpath
.gradle/7.2/dependencies-accessors/dependencies-accessors.lock
.gradle/7.2/dependencies-accessors/gc.properties
.gradle/7.2/executionHistory/executionHistory.bin
.gradle/7.2/executionHistory/executionHistory.lock
.gradle/7.2/fileChanges/last-build.bin
.gradle/7.2/fileHashes/fileHashes.bin
.gradle/7.2/fileHashes/fileHashes.lock
.gradle/7.2/gc.properties
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/checksums/checksums.lock
.gradle/checksums/md5-checksums.bin
.gradle/checksums/sha1-checksums.bin
.gradle/vcs-1/gc.properties
.mcreator/workspaceBackups/mcreator_test_mod.mcreator-backup_20230624_190938
.project
.settings/org.eclipse.jdt.core.prefs
build.gradle
build/createSrgToMcp/output.srg
build/downloadMCMeta/version.json
build/downloadMcpConfig/output.zip
build/extractSrg/output.srg
build/natives/glfw.dll
build/natives/glfw.dll.git
build/natives/glfw.dll.sha1
build/natives/glfw32.dll
build/natives/glfw32.dll.git
build/natives/glfw32.dll.sha1
build/natives/jemalloc.dll
build/natives/jemalloc.dll.git
build/natives/jemalloc.dll.sha1
build/natives/jemalloc32.dll
build/natives/jemalloc32.dll.git
build/natives/jemalloc32.dll.sha1
build/natives/lwjgl.dll
build/natives/lwjgl.dll.git
build/natives/lwjgl.dll.sha1
build/natives/lwjgl32.dll
build/natives/lwjgl32.dll.git
build/natives/lwjgl32.dll.sha1
build/natives/lwjgl_opengl.dll
build/natives/lwjgl_opengl.dll.sha1
build/natives/lwjgl_opengl32.dll
build/natives/lwjgl_opengl32.dll.sha1
build/natives/lwjgl_stb.dll
build/natives/lwjgl_stb.dll.sha1
build/natives/lwjgl_stb32.dll
build/natives/lwjgl_stb32.dll.sha1
build/natives/lwjgl_tinyfd.dll
build/natives/lwjgl_tinyfd.dll.sha1
build/natives/lwjgl_tinyfd32.dll
build/natives/lwjgl_tinyfd32.dll.sha1
build/natives/OpenAL.dll
build/natives/OpenAL.dll.git
build/natives/OpenAL.dll.sha1
build/natives/OpenAL32.dll
build/natives/OpenAL32.dll.git
build/natives/OpenAL32.dll.sha1
build/natives/SAPIWrapper_x64.dll
build/natives/SAPIWrapper_x86.dll
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
gradlew
gradlew.bat
mcreator_test_mod.mcreator
run/options.txt
run/server.properties
run/servers.dat
.mcreator/generatorGradleCache
.mcreator/setupInfo
